/* Adicione seus estilos aqui */

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  
  mat-form-field {
    width: 200px;
  }
  
  button {
    margin-top: -20px; // Compensa o espaço extra do mat-form-field
  }
}

.action-buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 16px;
}

.table-row {
  position: relative;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
    
    .action-buttons {
      visibility: visible;
      opacity: 1;
    }
  }
}

.actions-cell {
  width: 120px;
  padding: 0 8px !important;
}

.action-buttons {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  
  button {
    mat-icon {
      font-size: 20px;
      height: 20px;
      width: 20px;
      line-height: 20px;
    }
  }
}

table {
  width: 100%;
}
